* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9ED69;
}

/* Header */
header {
  background-color: #451952;
  color: #F39F5A;
  text-align: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Search Bar */
.searchBar {
  text-align: center;
  margin: 20px 0;
}

.searchBar input {
  padding: 10px;
  width: 60%;
  border: 1px solid #0F4C75;
  border-radius: 5px;
  font-size: 16px;
  color: #451952;
}

.searchBar button {
  background-color: #451952;
  color: #F9ED69;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.found {
  color: #451952;
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
}

.container-film {
  display: flex;
  padding: 0px 80px;
  justify-content: center;
  align-items: flex-start;
  column-gap: 10px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.container-film img {
  border: 0 black solid;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.card-film {
  display: flex;
  flex-direction: column;
  width: 210px;
  position: relative;
  padding: 10px;
  margin-bottom: 50px;
}

.card-film img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.card-film h3 {
  position: absolute;
  width: 180px;
  top: 70%;
  left: 50%;
  font-size: medium;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgba(184, 59, 94, 0.8);
  border: 0 rgba(184, 59, 94, 0.8) solid;
  color: #F9ED69;
  padding: 10px;
  text-align: center;
  transition: opacity 0.3s;
  pointer-events: none; 
}

.card-film img:hover + h3, .card-film h3:hover {
  opacity: 1;
  pointer-events: auto;
}

.detail-button {
  background-color: #6A2C70;
  color: #F9ED69;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.detail-button:hover {
  background-color: #8a7a8b;
  transform: scale(1.1);
}


.container-detail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(114, 37, 63, 0.904);
  color: #F9ED69;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  z-index: 999;
}

.content-detail {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.content-detail img {
  padding: 20px;
  width: 200px;
}

.movie-info {
  font-size: 10px;
}

.closeDetail {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #BBE1FA;
  color: #0F4C75;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.closeDetail:hover {
  background: #0F4C75;
  color: #BBE1FA;
}

footer {
  position: fixed;
  bottom: 0; 
  background-color: #451952;
  color: #F39F5A;
  text-align: center;
  padding: 10px;
  width: 100%; 
  z-index: 100;
}

footer .page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bx-left-arrow-alt,
.bx-right-arrow-alt {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}

.bx-left-arrow-alt:hover,
.bx-right-arrow-alt:hover {
  transform: scale(1.1);
}